= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.association :expression
    = f.association :answer
    = f.input :html
    = f.input :plain_text
    = f.input :answer_html
    = f.input :answer_plain_text

  .form-actions
    = f.button :submit
