

%h1 Listing questions

%table.table
  %tr
    %th Problem
    %th Solution
    %th Html
    %th Plain text
    %th Answer html
    %th Answer plain text
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.problem
      %td= question.solution
      %td= raw question.problem_html
      %td= question.problem_plain_text
      %td= raw question.solution_html
      %td= question.solution_plain_text
      %td= link_to 'Show', question_path(question), class: 'btn btn-default'
      %td= link_to 'Edit', edit_question_path(question), class: 'btn btn-info'
      %td= link_to 'Destroy', question_path(question), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

- if admin_signed_in?
  = link_to 'New Question', new_question_path
