= simple_form_for(@trick) do |f|
  = f.error_notification

  .form-inputs
    = f.input :hint, :input_html => {:style => 'width: 100%;'}
    = f.input :guide, :input_html => {:style => 'width: 100%; height: 400px'}

  .form-actions
    = f.button :submit, class: 'btn btn-success'
