
.container
  %h1
    %i.icon-book
    = @trick.name

  - if @trick.guide
    .panel.panel-default
      .panel-body
        = raw @trick.guide

  - if @trick.questions.blank?
    %p Nothing here yet! Just keep swimming.
  - else
    %form.form-inline{:role => 'form'}
      - @trick.questions.sample(10).each do |q|
        - qid = dom_id(q)
        - cid = "#{qid}_check"
        .row
          .form-group
            %label.control-label{:for => ''}
              = render partial: 'questions/question', locals: {question: q}
          .form-group
            %input.form-control{:placeholder => '', :type => 'number', :id => qid}/
          - if q.appendix
            .form-group
              %label.control-label{:for => ''}
                = raw q.appendix
          .form-group
            %span.wrong{id: cid}
            :javascript
              $('##{qid}').blur(function(){
                var attempt = $(this).val();
                var result = ''
                if (attempt)
                {
                  if ('#{q.answer_html}'.toLowerCase() == attempt.toLowerCase()) {
                    result = '#{check_mark_image}'
                  }
                  else {
                    // Show correct answer:
                    result = '#{q.answer_html}'
                  }
                }
                $('##{cid}').html(result)
              })


  - if admin_signed_in?
    = link_to 'Edit', edit_trick_path(@trick), class: 'btn btn-success'
    = link_to 'Back', tricks_path, class: 'btn btn-default'
