%p#notice= notice

%p
  %b Name:
  = @lesson.name
%p
  %b Numbering:
  = @lesson.numbering
%p
  %b Course:
  = @lesson.course

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path
