.container
  .page-header
    %h1
      The Dojo
      %small where you hone your skills


  - unless @courses.blank?
    .row
      - @courses.each do |course|
        .col-lg-4
          .list-group
            = link_to course, class: 'list-group-item' do
              %h3.list-group-item-heading
                = course.name
                %span.glyphicon.glyphicon-leaf
              %p.list-group-item-text
                = course.teacher
              - if admin_signed_in?
                %tr
                  %td= link_to 'Show', course, class: 'btn btn-primary'
                  %td= link_to 'Edit', edit_course_path(course), class: 'btn btn-default'
                  %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

  - if admin_signed_in?
    = link_to 'New Course', new_course_path, class: 'btn btn-success'
