:javascript
  $(document).ready(function() {

    // User submits all answers to be graded immediately.
    $('button[type=submit]').click( function() {
      challenge_id = parseInt($('#challenge_id').text());
      data = $('input.question_submission').serialize();
      submitChallenge();
    });

    var questions = $('.question-box');

    // Put the input cursor on the first question
    setTimeout(
      function() {
        questions.first().find('input').focus();
      },
      1
    );

    // Highlight the question that the cursor is on
    questions.focusin(function() {
      $(this).addClass('question-focused');
    }).focusout(function() {
      $(this).removeClass('question-focused');
    });

  })


- if challenge
  .challenge_submission
    %label#challenge_id.hidden= challenge.id

    - challenge.all_questions.shuffle.each do |question|
      - question_id = "question_#{question.id}"

      .question-box.center-block{id: question_id}
        .row
          -#.col-sm-1
          -#  %span{id: question_id, style: 'float: left'}
          .col-sm-12
            .input-group{style: 'float: left;'}

              %span.input-group-addon.input-group-addon-lg
                %script{type: 'math/tex'}
                  = "#{question.problem_latex} = "

              %input.question_submission.form-control{id: question_id, name: question_id, type: 'number'}/

              - unless question.appendix_latex.blank?
                %span.input-group-addon
                  %script{type: 'math/tex'}= question.appendix_latex

    %button.center-block.btn.btn-default.btn-lg{type: 'submit'} Finish

