- if challenge
  %form.form-horizontal{role: 'form', id: 'challenge'}
    %label#challenge_id.hidden
      = challenge.id
    - challenge.all_questions.shuffle.each do |question|
      - question_id = "question_#{question.id}"
      .form-group
        %label.col-sm-2.control-label{for: question_id}
          = raw "#{question.problem_html} = "
        .col-sm-2
          %input.form-control{id: question_id, name: question_id, type: 'number'}/
        .col-sm-2
          = question.appendix
        .col-sm-1
          %span.wrong{class: question_id}
    .form-group
      %label.col-sm-2.control-label{for: 'username'} Your name
      .col-sm-4
        - username = current_user.name if current_user
        %input#username.form-control{name: 'username', placeholder: username, type: 'text'}/
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{type: 'submit'} Submit
