= simple_form_for(@challenge) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :checksum, disabled: true
    = f.input :question_count, as: :integer

  .form-actions
    = f.button :submit
