= simple_form_for(@challenge) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :checksum, disabled: true

    = f.label :trick
    = f.collection_select :trick_id, Trick.all, :id, :name

  .form-actions
    = f.button :submit
