.container
  %h1 Challenges

  %table.table
    %tr
      %th Name
      %th About

    - @challenges.each do |challenge|
      %tr
        %td
          - name = challenge.name.blank? ?  "Challenge #{challenge.id}" : challenge.name
          = link_to name, challenge
        - if challenge.leaf?
          - about = challenge.trick.name
        - else
          - about = 'Mix'
        %td= about
        - if admin_signed_in?
          %td= challenge.id
          %td= challenge.checksum
          %td= link_to 'Edit', edit_challenge_path(challenge)
          %td= link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

  - if admin_signed_in?
    = link_to 'New Challenge', new_challenge_path, class: 'btn btn-success'
