.container
  %h1 Challenges

  %table.table
    %tr
      %th Name
      %th Checksum
      %th
      %th
      %th

    - @challenges.each do |challenge|
      %tr
        %td= challenge.name
        %td= challenge.checksum
        %td= link_to 'Show', challenge
        %td= link_to 'Edit', edit_challenge_path(challenge)
        %td= link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

  - if admin_signed_in?
    = link_to 'New Challenge', new_challenge_path, class: 'btn btn-success'
