%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}

  .navbar-header
    %a.navbar-brand{:href => root_path}= NumberSenseiRails4::Application.config.app_title

  %ul.nav.navbar-nav
    %li= link_to 'Learn', '/learn'
    %li= link_to 'Challenge', '/challenge'
    %li= link_to 'Download', '/download'
    %li= link_to 'Dojo', '/dojo'

  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li
        = link_to 'Logout', signout_path
    - else
      %li
        = link_to 'Login', signin_path
    - if user_signed_in?
      - if current_user.has_role? :admin
        %li
          = link_to 'Admin', users_path
